*{
    margin: 0;
    padding:0;
}
body{
    background-color: antiquewhite;
}
h1{
    background-color: black;
    color: aliceblue;
    height: 50px;
    text-align: center;
    padding-top:10px ;
}
p{
    text-align: center;
}
.choice{
    height: 150px;
    width: 150px;
    text-align: center;
}
img
{
    height: 100px;
    width: 100px;
    object-fit:cover;
    border-radius: 50%;
    transition:0s ease-in;
    
}
img:hover{
    border-bottom: 8px solid black;
    transform: rotate(360deg);
    
}
.choice:hover{
    cursor: pointer;
}
#rock:hover
{
    transform:rotate(360deg);
}
.choices
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreb
{
    display: flex;
    justify-content: center;
    gap: 90px;
}
#user-score,#comp-score
{
    font-size: 70px;
}
.msg-con
{
    margin-top: 2rem;
}
#msg
{
    background-color:cadetblue;
    font-size:2rem;    
}